/* Global font settings */
body {
  font-family: "Inter", sans-serif !important;
}

.page-content h1,
.page-content h4 {
  text-align: center;
}

body #single .page-content h4 {
  color: var(--text-color) !important;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.column {
  flex: 1 1 100%;
  padding: 10px;
  box-sizing: border-box;
}

/* Responsive column widths */
.cols-2 .column { flex: 1 1 50%; }
.cols-3 .column { flex: 1 1 33.333%; }
.cols-4 .column { flex: 1 1 25%; }

#single .page-content .columns .column ul {
  margin-left: 0;
  padding-left: 0em; /* Adjust as needed */
}

.card {
  background-color: var(--secondary-color);
  border: 2px solid var(--text-secondary-color);
  font-family: var(--primary-font);
}

.card .card-body {
  background-color: var(--secondary-color);
}

.card h4.card-title {
  color: var(--text-color);
}

.card .card-text {
  color: var(--text-color);
}

.card .badge {
  color: var(--text-primary-color);
  border: 1px solid var(--text-color)
}

.card ul {
  color: var(--text-color);
}

.card a.btn {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: 1px solid var(--primary-color)
}

/* Timeline cards */
.card.border-start {
  border-left: 4px solid var(--primary-color) !important;
}

.border-end {
  border-right: 4px solid var(--primary-color) !important;
}

.card h5.card-title {
  color: var(--text-color) !important;
  font-weight: 600;
}

.fw-bold {
  color: var(--primary-color) !important;
}
