<div class="col-lg-6">
  <div class="card h-100 shadow-sm">
    <div class="card-body">
      <div class="row align-items-center mb-3">
        <div class="col">
          <h4 class="card-title mb-0">{{ .Get "title" }}</h4>
        </div>
        <div class="col-auto">
          <span class="badge">{{ .Get "badge" }}</span>
        </div>
      </div>
      <p class="card-text">{{ .Get "description" | markdownify }}</p>
      <h6 class="mt-4 fw-bold">Scope Highlights:</h6>
      <ul class="card-text">
        {{ .Inner | markdownify}}
      </ul>
      <p class="mt-4 mb-0"><strong class="text-primary">{{ .Get "price" }}</strong></p>
      <a href="{{ .Get "link" | default "/contact" }}" class="btn mt-3">{{ .Get "button" | default "Get Started" }}</a>
    </div>
  </div>
</div>
